.container {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 23.5%;
    margin-bottom: 2%;
}

input {
    width: 96%;
}

.btn {
    width: 100%;
}

.btn-submit {
    display: grid;
    flex-direction: row;
}

@media only screen and (max-width: 1160px) {
    .col {
        width: 33.3%;
    }
}

@media only screen and (max-width: 560px) {
    .col {
        width: 50%;
    }
}

@media only screen and (max-width: 560px) {
    .col {
        width: 50%;
    }
}

@media only screen and (max-width: 380px) {
    .col {
        width: 100%;
    }
}